<md-content layout="row" layout-align="center center">
  <form>
     <md-input-container>
        <md-icon class="mdi mdi-account"></md-icon> 
        <label for="username"> Username </label>
        <input type="text" id="username" md-autofocus ng-model="username">
      </md-input-container>
      <br/>
      <md-input-container>
        <md-icon class="mdi mdi-account-key"></md-icon>
        <label for="password"> Password </label>
        <input type="password" id="password" ng-model="password">
      </md-input-container>
      <br/>
      <md-button class="md-primary" ng-click="login()">
          Login
      </md-button>
      <md-button class="md-warn" ng-click="clearFields()">
          Cancel
      </md-button>
  </form>
</md-content>